In [35]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.graph_objs as go

%matplotlib inline
import pandas as pd
import seaborn as sns
import numpy as np

from geopy.geocoders import Nominatim

In [36]:
lt=pd.read_csv('export.csv', sep=';', 
               error_bad_lines=False,header=None)
lt.head()

b'Skipping line 9843: expected 7 fields, saw 8\n'

,0,1,2,3,4,5,6
0,2018-01-23,De Brug,IJsselstein,groep 6/7,22,Klas naar huis sturen,NaN
1,2018-01-26,Montessori,Hilversum,groep 678,26,Klas verdelen,NaN
2,2018-01-22,De Brug,IJsselstein,groep plusklas,20,Anders of combinatie,NaN
3,2018-01-19,De Brug,IJsselstein,groep 3/4,25,Klas naar huis sturen,NaN
4,2018-01-25,De kleine planeet,deventer,groep 3/4/5,27,Parttimer komt extra dag terug,NaN

In [37]:
# Cleaning

for c in [1,2,3,5]:
    lt[c]=lt[c].str.strip().str.lower()
lt[0]=pd.to_datetime(lt[0])
lt=lt[(lt[0].dt.year==2018)&(lt[0] <pd.Timestamp.today()) ]

In [38]:
lt_ams=lt[lt[2].str.contains('Amsterdam')]
lt_not_ams=lt[~lt[2].str.contains(value)]
ams_vs_rest=pd.DataFrame([lt[5].value_counts()]).T
ams_vs_rest.columns=['Nederland', ]
ams_vs_rest.index.name='Oplossing'
#ams_vs_rest.sort_values(value, ascending=False)
print((ams_vs_rest/ams_vs_rest.sum())["Nederland"][6])
trace1 = go.Bar(
y='Nederland',
x=(ams_vs_rest/ams_vs_rest.sum())["Nederland"][0],
name='Verdeling oplossingen',
orientation = 'h',
marker = dict(
    color = 'rgba(246, 78, 139, 0.6)',
    line = dict(
        color = 'rgba(246, 78, 139, 1.0)',
        width = 3)
)
)

data = [trace1]
layout = go.Layout(
    barmode='stack'
)

NameError: name 'value' is not defined

In [45]:

import datetime
timeFixed = lt[(lt[0]>=datetime.date(2018,1,1)) & (lt[0]<datetime.date(2018,2,1))]

In [46]:
timeFixed

,0,1,2,3,4,5,6
0,2018-01-23,de brug,ijsselstein,groep 6/7,22,klas naar huis sturen,NaN
1,2018-01-26,montessori,hilversum,groep 678,26,klas verdelen,NaN
2,2018-01-22,de brug,ijsselstein,groep plusklas,20,anders of combinatie,NaN
3,2018-01-19,de brug,ijsselstein,groep 3/4,25,klas naar huis sturen,NaN
4,2018-01-25,de kleine planeet,deventer,groep 3/4/5,27,parttimer komt extra dag terug,NaN
5,2018-01-26,kindcentrum devuurvogel,assen,"groep 3,4,5",24,klas verdelen,NaN
6,2018-01-22,de hoeksteen,nieuwlande,groep 5-6,27,parttimer komt extra dag terug,NaN
7,2018-01-23,obs de stegeman,winterswijk,groep 8,26,directie of ib-er etc...,NaN
8,2018-01-25,obs de stegeman,winterswijk,groep 6,27,directie of ib-er etc...,NaN
9,2018-01-26,de kroosduiker,westzaan,groep 4,24,klas naar huis sturen,NaN
10,2018-01-23,de kroosduiker,westzaan,groep 3/4/5,26,klas naar huis sturen,NaN
11,2018-01-17,de wissel,geffen,groep 6,29,parttimer komt extra dag terug,NaN
12,2018-01-19,de wissel,geffen,groep 5,25,klas verdelen,NaN
13,2018-01-25,het palet,heeswijk-dinther,groep 5,24,anders of combinatie,NaN
14,2018-01-25,de albatros,almere,groep 3,24,klas verdelen,NaN
15,2018-01-26,albatros,almere,groep 3,24,klas verdelen,NaN
16,2018-01-26,de weerijs,breda,groep 6,24,klas naar huis sturen,NaN
17,2018-01-26,de bente,emmer compascuum,groep 5/6,25,anders of combinatie,NaN
18,2018-01-26,swbs pork,ter apel,groep 6,29,parttimer komt extra dag terug,NaN
19,2018-01-25,bs de horizon,heerlen,groep 6,30,onbevoegde voor de klas,NaN
20,2018-01-25,bs de horizon,heerlen,groep 4a,25,anders of combinatie,NaN
21,2018-01-24,bs de horizon,heerlen,groep 6a,30,directie of ib-er etc...,NaN
22,2018-01-22,neptunus,amsterdam,groep 1/2,30,onbevoegde voor de klas,NaN
23,2018-01-23,neptunus,amsterdam,groep 1/2,30,onbevoegde voor de klas,NaN
24,2018-01-24,neptunus,amsterdam,groep 1/2,30,onbevoegde voor de klas,NaN
25,2018-01-25,neptunus,amsterdam,groep 1/2,30,onbevoegde voor de klas,NaN
26,2018-01-26,neptunus,amsterdam,groep 1/2,30,onbevoegde voor de klas,NaN
27,2018-01-26,de boemerang,huissen,groep 1-2,26,parttimer komt extra dag terug,NaN
28,2018-01-26,de boemerang,huissen,groep 5-6,28,directie of ib-er etc...,NaN
29,2018-01-25,de boemerang,huissen,groep 1-2,26,directie of ib-er etc...,NaN
...,...,...,...,...,...,...,...
11270,2018-01-19,obs de notenkraker,den haag,groep 7,26,directie of ib-er etc...,NaN
11271,2018-01-22,obs de notenkraker,den haag,groep 7,26,directie of ib-er etc...,NaN
11272,2018-01-23,obs de notenkraker,den haag,groep 7,26,directie of ib-er etc...,NaN
11274,2018-01-24,obs de notenkraker,den haag,groep 7,26,directie of ib-er etc...,NaN
11276,2018-01-25,obs de notenkraker,den haag,groep 7,26,directie of ib-er etc...,NaN
11277,2018-01-26,obs de notenkraker,den haag,groep 7,26,directie of ib-er etc...,NaN
11279,2018-01-29,obs de notenkraker,den haag,groep 7,26,directie of ib-er etc...,NaN
11280,2018-01-30,obs de notenkraker,den haag,groep 7,26,directie of ib-er etc...,NaN
11284,2018-01-31,obs de notenkraker,den haag,groep 7,26,directie of ib-er etc...,NaN
12581,2018-01-19,kindcentrum de regenboog,boekel,groep 8,25,klas verdelen,NaN
12817,2018-01-23,het mozaiek,houten,groep 8,23,klas verdelen,NaN
12920,2018-01-09,smdb de ark,oud-vossemeer,groep 4,10,klas verdelen,NaN
12921,2018-01-10,smdb de ark,oud-vossemeer,groep 3-4-5,30,parttimer komt extra dag terug,NaN
12922,2018-01-11,smdb de ark,oud-vossemeer,groep 5,12,klas verdelen,NaN
13279,2018-01-08,letterland,almere,groep 7/8,23,directie of ib-er etc...,NaN
13281,2018-01-29,letterland,almere,groep 5,24,klas verdelen,NaN
13460,2018-01-25,de wegwijzer,heerlen,groep 7,27,onbevoegde voor de klas,NaN
13461,2018-01-26,de wegwijzer,heerlen,groep 1/2,23,onbevoegde voor de klas,NaN
13520,2018-01-12,pcb de ark,almere,groep 4,26,onbevoegde voor de klas,NaN
13521,2018-01-19,pcb de ark,almere,groep 4,26,onbevoegde voor de klas,NaN
13522,2018-01-26,pcb de ark,almere,groep 4,26,onbevoegde voor de klas,NaN
13534,2018-01-09,pcb de ark,almere,groep 7,18,invaller via detacheringsbureau,NaN
13535,2018-01-16,pcb de ark,almere,groep 7,18,invaller via detacheringsbureau,NaN
13536,2018-01-23,pcb de ark,almere,groep 7,18,invaller via detacheringsbureau,NaN
13537,2018-01-30,pcb de ark,almere,groep 7,18,invaller via detacheringsbureau,NaN
13696,2018-01-10,obssprinkels,meppel,groep 4/5,24,parttimer komt extra dag terug,NaN
13697,2018-01-25,obssprinkels,meppel,groep 1,26,parttimer komt extra dag terug,NaN
13698,2018-01-29,obssprinkels,meppel,groep 1,26,parttimer komt extra dag terug,NaN
13699,2018-01-30,obssprinkels,meppel,groep gym,24,anders of combinatie,NaN
13700,2018-01-30,obssprinkels,meppel,groep 7,25,parttimer komt extra dag terug,NaN

In [54]:
lt=pd.read_csv('export.csv', sep=';', 
               error_bad_lines=False,header=None)

bla=pd.read_csv('cityLatLong.csv', sep='\t', 
               error_bad_lines=False)

b'Skipping line 9843: expected 7 fields, saw 8\n'

In [57]:
lt[2]=lt[2].str.strip().str.lower()

In [62]:
lt.rename(columns={2: 'city'}, inplace=True)
lt.head()

,0,1,city,3,4,5,6
0,2018-01-23,De Brug,ijsselstein,groep 6/7,22,Klas naar huis sturen,NaN
1,2018-01-26,Montessori,hilversum,groep 678,26,Klas verdelen,NaN
2,2018-01-22,De Brug,ijsselstein,groep plusklas,20,Anders of combinatie,NaN
3,2018-01-19,De Brug,ijsselstein,groep 3/4,25,Klas naar huis sturen,NaN
4,2018-01-25,De kleine planeet,deventer,groep 3/4/5,27,Parttimer komt extra dag terug,NaN

In [65]:
lt

,0,1,city,3,4,5,6
0,2018-01-23,De Brug,ijsselstein,groep 6/7,22,Klas naar huis sturen,NaN
1,2018-01-26,Montessori,hilversum,groep 678,26,Klas verdelen,NaN
2,2018-01-22,De Brug,ijsselstein,groep plusklas,20,Anders of combinatie,NaN
3,2018-01-19,De Brug,ijsselstein,groep 3/4,25,Klas naar huis sturen,NaN
4,2018-01-25,De kleine planeet,deventer,groep 3/4/5,27,Parttimer komt extra dag terug,NaN
5,2018-01-26,Kindcentrum DeVuurvogel,assen,"groep 3,4,5",24,Klas verdelen,NaN
6,2018-01-22,De Hoeksteen,nieuwlande,groep 5-6,27,Parttimer komt extra dag terug,NaN
7,2018-01-23,Obs de Stegeman,winterswijk,groep 8,26,Directie of IB-er etc...,NaN
8,2018-01-25,Obs de Stegeman,winterswijk,groep 6,27,Directie of IB-er etc...,NaN
9,2018-01-26,De Kroosduiker,westzaan,groep 4,24,Klas naar huis sturen,NaN
10,2018-01-23,De Kroosduiker,westzaan,groep 3/4/5,26,Klas naar huis sturen,NaN
11,2018-01-17,De Wissel,geffen,groep 6,29,Parttimer komt extra dag terug,NaN
12,2018-01-19,De Wissel,geffen,groep 5,25,Klas verdelen,NaN
13,2018-01-25,Het Palet,heeswijk-dinther,groep 5,24,Anders of combinatie,NaN
14,2018-01-25,De albatros,almere,groep 3,24,Klas verdelen,NaN
15,2018-01-26,Albatros,almere,groep 3,24,Klas verdelen,NaN
16,2018-01-26,De Weerijs,breda,groep 6,24,Klas naar huis sturen,NaN
17,2018-01-26,De Bente,emmer compascuum,groep 5/6,25,Anders of combinatie,NaN
18,2018-01-26,swbs Pork,ter apel,groep 6,29,Parttimer komt extra dag terug,NaN
19,2018-01-25,Bs De Horizon,heerlen,groep 6,30,Onbevoegde voor de klas,NaN
20,2018-01-25,Bs De Horizon,heerlen,groep 4a,25,Anders of combinatie,NaN
21,2018-01-24,Bs De Horizon,heerlen,groep 6a,30,Directie of IB-er etc...,NaN
22,2018-01-22,Neptunus,amsterdam,groep 1/2,30,Onbevoegde voor de klas,NaN
23,2018-01-23,Neptunus,amsterdam,groep 1/2,30,Onbevoegde voor de klas,NaN
24,2018-01-24,Neptunus,amsterdam,groep 1/2,30,Onbevoegde voor de klas,NaN
25,2018-01-25,Neptunus,amsterdam,groep 1/2,30,Onbevoegde voor de klas,NaN
26,2018-01-26,Neptunus,amsterdam,groep 1/2,30,Onbevoegde voor de klas,NaN
27,2018-01-26,De Boemerang,huissen,groep 1-2,26,Parttimer komt extra dag terug,NaN
28,2018-01-26,De Boemerang,huissen,groep 5-6,28,Directie of IB-er etc...,NaN
29,2018-01-25,De boemerang,huissen,groep 1-2,26,Directie of IB-er etc...,NaN
...,...,...,...,...,...,...,...
13740,2018-03-29,OBS Olympus,amsterdam,groep 3,15,Directie of IB-er etc...,NaN
13741,2018-03-29,Obs 't Joppe,nieuw-vennep,groep 6,20,Parttimer komt extra dag terug,NaN
13742,2018-03-29,Obs 't Joppe,nieuw-vennep,groep 5,25,Parttimer komt extra dag terug,NaN
13743,2018-03-29,De Bijenkorf,assendelft,groep 3-4-5,27,Klas verdelen,NaN
13744,2018-03-29,SBO De Tandem,uden,groep 7,-4,Klas naar huis sturen,NaN
13745,2018-03-29,Kameleon,doorn,groep 7,25,Onbevoegde voor de klas,NaN
13746,2018-03-29,Kameleon,doorn,groep 5/6,26,Invaller via detacheringsbureau,NaN
13747,2018-03-29,ASG De Flierefluiter,almere,groep 7-8,27,Onbevoegde voor de klas,NaN
13748,2018-03-29,ASG de Flierefluiter,almere,groep 8,28,Anders of combinatie,NaN
13749,2018-03-29,Toermalijn,uithoorn,groep 5,24,Anders of combinatie,NaN
13750,2018-03-23,De Duinroos Zanderij,katwijk,groep 8,29,Directie of IB-er etc...,NaN
13751,2018-03-28,De Duinroos Zanderij,katwijk,groep 1c,25,Klas naar huis sturen,NaN
13752,2018-03-28,CBS Avonturijn,hilversum,groep 5/6,25,Parttimer komt extra dag terug,NaN
13753,2018-03-29,CBS Avonturijn,hilversum,groep 5/6,26,Anders of combinatie,NaN
13754,2018-03-27,Bloemcampschool,wassenaar,groep 5,28,Klas verdelen,NaN
13755,2018-03-28,De Graankorrel,kudelstaart,groep 5,21,Onbevoegde voor de klas,NaN
13756,2018-03-29,Bs De Bron,neerbeek,groep 4,29,Parttimer komt extra dag terug,NaN
13757,2018-03-28,Bs De Bron,neerbeek,groep 6,26,Onbevoegde voor de klas,NaN
13758,2018-03-27,Bs De Bron,neerbeek,groep 6,26,Parttimer komt extra dag terug,NaN
13759,2018-03-23,Bs De Bron,neerbeek,groep 4,29,Parttimer komt extra dag terug,NaN
13760,2018-03-22,Bs De Bron,neerbeek,groep 4,29,Klas verdelen,NaN
13761,2018-03-22,Bs De Bron,neerbeek,groep 3,21,Directie of IB-er etc...,NaN
13762,2018-03-26,kc Ontdekrijk,capelle aan den ijssel,groep 1/2,27,Invaller via detacheringsbureau,NaN
13763,2018-03-27,kc Ontdekrijk,capelle aan den ijssel,groep 1/2,27,Invaller via detacheringsbureau,NaN
13764,2018-03-23,ASG Zeetuin,almere,groep 8,33,Klas naar huis sturen,NaN
13765,2018-03-21,ASG Zeetuin,almere,groep 8,33,Klas naar huis sturen,NaN
13766,2018-03-22,ASG Zeetuin,almere,groep 7/8,32,Klas naar huis sturen,NaN
13767,2018-03-29,De vuurvogel,tilburg,groep 5-6,25,Klas verdelen,NaN
13768,2018-03-29,De vuurvogel,tilburg,groep 4,27,Invaller via detacheringsbureau,NaN
13769,2018-03-28,De Vuurvogel,tilburg,groep 4,26,Parttimer komt extra dag terug,NaN

In [63]:
joe = pd.merge(lt, bla, on='city', how='inner')

In [66]:
joe.rename(columns={'city': 2, 'lat': 7, 'long': 8}, inplace=True)

In [75]:
cityLatLong = pd.read_csv('cityLatLong.csv', sep='\t')

In [79]:
yo = cityLatLong.loc[cityLatLong['city'].isin(joe[2].unique())]

In [84]:
lt[0]=pd.to_datetime(lt[0])

In [86]:
import datetime
timeFilteredDF = lt[(lt[0]>=datetime.date(2018, 1 ,1)) & (lt[0]<datetime.date(2018 ,2 ,1))]

In [88]:
uniqueTimeFilteredDF = cityLatLong.loc[cityLatLong['city'].isin(timeFilteredDF['city'].unique())]

In [89]:
uniqueTimeFilteredDF

                           city        lat      long
0                   ijsselstein  52.026205  5.028686
1                     hilversum  52.231587  5.173494
2                      deventer  52.249273  6.176131
3                         assen  52.990372  6.553378
4                    nieuwlande  52.691313  6.616811
5                   winterswijk  51.974731  6.722405
6                      westzaan  52.456813  4.773083
7                        geffen  51.742292  5.462088
8              heeswijk-dinther  51.664083  5.466635
9                        almere  52.441759  5.209315
10                        breda  51.564448  4.751230
11             emmer compascuum  52.805873  7.010427
12                     ter apel  52.877717  7.068111
13                      heerlen  50.876277  5.982795
14                    amsterdam  52.374540  4.897976
15                      huissen  51.934410  5.932849
16                    hoogeveen  52.719244  6.465282
17                      zutphen  52.143222  6.204444
18                       leiden  52.151816  4.481109
19                     ugchelen  52.169262  5.900451
20                   oosterhout  51.644472  4.851366
21                    polsbroek  51.987055  4.873784
22                     lelystad  52.536681  5.361072
23                    rotterdam  51.927798  4.488623
24                    hoogezand  53.133009  6.785634
25                   bodegraven  52.092861  4.747455
26                      bantega  52.830288  5.794892
27          berkel en rodenrijs  51.997348  4.470393
28                     aalsmeer  52.265834  4.766170
29                    coevorden  52.652662  6.739324
..                          ...        ...       ...
590                  overijssel  52.425414  6.461061
613                     glimmen  53.138721  6.628281
614                 emmercompas        NaN       NaN
622                   enkhuizen  52.757719  5.320694
623                   sleeuwijk  51.812530  4.940918
625                      helden  51.320791  5.999173
630                      tricht  51.908667  5.261652
631                  beekbergen  52.138933  5.977027
634                      beugen  51.673529  5.937137
635                  oegstgeest  52.183367  4.472129
642                    franeker  53.183828  5.552929
671                 tuitjenhorn  52.739230  4.748727
673                hout-blerick  51.360028  6.126810
674                   naaldwijk  51.992319  4.209760
683                  glanerbrug  52.215550  6.970111
684                   millingen  52.490140  6.263200
689              raamsdonksveer  51.696036  4.875312
698              oud beijerland  51.808122  4.409324
707                     bathmen  52.253309  6.322596
718                     ouddorp  51.801801  3.885134
720                badhoevedorp  52.330044  4.779174
734                  appingedam  53.318725  6.844171
749                 westervoort  51.959756  5.968266
784  nieuwerkerk aan den ijssel  51.966351  4.609027
795               venlo-blerick  51.361744  6.132131
796                   ootmarsum  52.409510  6.902395
832                     wanroij  51.650541  5.817778
835                       laren  52.242531  5.216244
861               oud-vossemeer  51.579497  4.191334
885                      boekel  51.605718  5.674822

[524 rows x 3 columns]

In [90]:
cityLatLong

                       city        lat      long
0               ijsselstein  52.026205  5.028686
1                 hilversum  52.231587  5.173494
2                  deventer  52.249273  6.176131
3                     assen  52.990372  6.553378
4                nieuwlande  52.691313  6.616811
5               winterswijk  51.974731  6.722405
6                  westzaan  52.456813  4.773083
7                    geffen  51.742292  5.462088
8          heeswijk-dinther  51.664083  5.466635
9                    almere  52.441759  5.209315
10                    breda  51.564448  4.751230
11         emmer compascuum  52.805873  7.010427
12                 ter apel  52.877717  7.068111
13                  heerlen  50.876277  5.982795
14                amsterdam  52.374540  4.897976
15                  huissen  51.934410  5.932849
16                hoogeveen  52.719244  6.465282
17                  zutphen  52.143222  6.204444
18                   leiden  52.151816  4.481109
19                 ugchelen  52.169262  5.900451
20               oosterhout  51.644472  4.851366
21                polsbroek  51.987055  4.873784
22                 lelystad  52.536681  5.361072
23                rotterdam  51.927798  4.488623
24                hoogezand  53.133009  6.785634
25               bodegraven  52.092861  4.747455
26                  bantega  52.830288  5.794892
27      berkel en rodenrijs  51.997348  4.470393
28                 aalsmeer  52.265834  4.766170
29                coevorden  52.652662  6.739324
...                     ...        ...       ...
1000             zuidermeer  52.663999  4.975520
1001      oostwold, oldambt  53.215652  7.043184
1002              born (lb)  51.044839  5.837633
1003            roodeschool  53.414617  6.781603
1004            herkenbosch  51.168353  6.102692
1005               avenhorn  52.617738  4.969920
1006                warmond  52.200897  4.525958
1007         surhuisterveen  53.172683  6.154054
1008                de rijp  52.556173  4.842247
1009       sint philipsland  51.633265  4.160483
1010          lichtenvoorde  51.993944  6.565700
1011               macharen  51.802675  5.542677
1012                  megen  51.817166  5.566282
1013    valkenburg a/d geul        NaN       NaN
1014          nieuwe pekela  53.055781  6.960637
1015                  stein  50.973938  5.760869
1016                   lent  51.865864  5.865092
1017           zuid holland  51.996679  4.559740
1018         den hoorn (zh)  52.003360  4.325468
1019  lennisheuvel (boxtel)  51.574320  5.316120
1020               drieborg  53.257924  7.175475
1021                liessel  51.411651  5.830435
1022                   vilt  50.857585  5.809624
1023             nieuwstadt  51.042089  5.861236
1024                   born  51.044839  5.837633
1025            nieuweroord  52.725450  6.564840
1026             noordwolde  52.891558  6.135962
1027             appelascha        NaN       NaN
1028        beneden-leeuwen  51.872420  5.514564
1029               neerbeek  51.256195  5.984346

[1030 rows x 3 columns]

In [83]:
lt[0]

0        2018-01-23
1        2018-01-26
2        2018-01-22
3        2018-01-19
4        2018-01-25
5        2018-01-26
6        2018-01-22
7        2018-01-23
8        2018-01-25
9        2018-01-26
10       2018-01-23
11       2018-01-17
12       2018-01-19
13       2018-01-25
14       2018-01-25
15       2018-01-26
16       2018-01-26
17       2018-01-26
18       2018-01-26
19       2018-01-25
20       2018-01-25
21       2018-01-24
22       2018-01-22
23       2018-01-23
24       2018-01-24
25       2018-01-25
26       2018-01-26
27       2018-01-26
28       2018-01-26
29       2018-01-25
            ...
13740    2018-03-29
13741    2018-03-29
13742    2018-03-29
13743    2018-03-29
13744    2018-03-29
13745    2018-03-29
13746    2018-03-29
13747    2018-03-29
13748    2018-03-29
13749    2018-03-29
13750    2018-03-23
13751    2018-03-28
13752    2018-03-28
13753    2018-03-29
13754    2018-03-27
13755    2018-03-28
13756    2018-03-29
13757    2018-03-28
13758    2018-03-27
13759    2018-03-23
13760    2018-03-22
13761    2018-03-22
13762    2018-03-26
13763    2018-03-27
13764    2018-03-23
13765    2018-03-21
13766    2018-03-22
13767    2018-03-29
13768    2018-03-29
13769    2018-03-28
Name: 0, Length: 13770, dtype: object

In [ ]:
df.isin([1, 3, 12, 'a'])

In [68]:
joe.to_csv("export.csv")

In [39]:
input_value = "amsterdam"



lt_city=lt[lt[2].str.contains(input_value)]
lt_not_city=lt[~lt[2].str.contains(input_value)]
ams_vs_rest=pd.DataFrame([lt_not_city[5].value_counts(),lt_city[5].value_counts()] ).T
ams_vs_rest.columns=['Nederland', input_value]
ams_vs_rest.index.name='Oplossing'

print(ams_vs_rest)

trace1 = go.Bar(
y=['Nederland', input_value],
x=[(ams_vs_rest/ams_vs_rest.sum())["Nederland"][0], (ams_vs_rest/ams_vs_rest.sum())[input_value][0]],
name=ams_vs_rest.index[0],
orientation = 'h',
marker = dict(
    color = 'rgba(127,201,127, 0.6)',
    line = dict(
        color = 'rgba(127,201,127, 1.0)',
        width = 3)
)
)

                                       Nederland  amsterdam
Oplossing
anders of combinatie                        1608        152
directie of ib-er etc...                    1604        194
gepensioneerde voor de klas                  315         48
invaller via detacheringsbureau              569        155
klas naar huis sturen                       2066        177
klas verdelen                               1934        417
onbevoegde voor de klas                     1686        351
ouder met lesbevoegdheid voor de klas         34          4
parttimer komt extra dag terug              2190        128

In [31]:
ams_vs_rest.index

Index(['klas verdelen', 'parttimer komt extra dag terug',
       'klas naar huis sturen', 'onbevoegde voor de klas',
       'directie of ib-er etc...', 'anders of combinatie',
       'invaller via detacheringsbureau', 'gepensioneerde voor de klas',
       'ouder met lesbevoegdheid voor de klas'],
      dtype='object', name='Oplossing')

In [4]:
from IPython import display
import os
def show_app(app, port = 9999, 
             width = 700, 
             height = 350, 
             offline = False,
            in_binder = None):
    in_binder ='JUPYTERHUB_SERVICE_PREFIX' in os.environ if in_binder is None else in_binder
    if in_binder:
        base_prefix = '{}proxy/{}/'.format(os.environ['JUPYTERHUB_SERVICE_PREFIX'], port)
        url = 'https://hub.mybinder.org{}'.format(base_prefix)
        app.config.requests_pathname_prefix = base_prefix
    else:
        url = 'http://localhost:%d' % port
        
    iframe = '<a href="{url}" target="_new">Open in new window</a><hr><iframe src="{url}" width={width} height={height}></iframe>'.format(url = url, 
                                                                                  width = width, 
                                                                                  height = height)
    
    display.display_html(iframe, raw = True)
    if offline:
        app.css.config.serve_locally = True
        app.scripts.config.serve_locally = True
    return app.run_server(debug=False, # needs to be false in Jupyter
                          host = '0.0.0.0',
                          port=port)

In [5]:
import plotly.figure_factory as ff

app = dash.Dash()
app.layout = html.Div([
    dcc.Dropdown(
        id='my-dropdown',
            options=[{'label':name, 'value':name} for name in lt[2].unique()],
        value='amsterdam'
    ),
    dcc.Graph(id='my-table'),
    html.Div(id='my-graph')
])


@app.callback(
    dash.dependencies.Output('my-table', 'figure'),
    [dash.dependencies.Input('my-dropdown', 'value')])
def update_table(value):
    lt_value=lt[lt[2].str.contains(value)]
    lt_not_value=lt[~lt[2].str.contains(value)]
    value_vs_rest=pd.DataFrame([lt_not_value.groupby(5)[4].mean(),lt_value.groupby(5)[4].mean()] ).T
    value_vs_rest.columns=['rest', value]
    value_vs_rest['Oplossing'] = value_vs_rest.index
    #value_vs_rest.index.name='Oplossing'
    value_vs_rest.sort_values(value, ascending=False)
    new_table_figure = ff.create_table(value_vs_rest)
    return new_table_figure

@app.callback(
    dash.dependencies.Output('my-graph', 'children'),
    [dash.dependencies.Input('my-dropdown', 'value')])
def update_graph(value):
    # maak hier de data aan die ik per stad wil doen.
    # return hier de hele graph met die data.
    lt_value=lt[lt[2].str.contains(value)]
    lt_not_value=lt[~lt[2].str.contains(value)]
    value_vs_rest=pd.DataFrame([lt_not_value.groupby(5)[4].sum(),lt_value.groupby(5)[4].sum()] ).T
    value_vs_rest.columns=['rest', value]
    value_vs_rest['Oplossing'] = value_vs_rest.index
    #value_vs_rest.index.name='Oplossing'
    value_vs_rest.sort_values(value, ascending=False)
    print(type(value_vs_rest))
    items = (value_vs_rest/value_vs_rest.sum()).sort_values(value)[value]
    joe = (value_vs_rest/value_vs_rest.sum()).sort_values(value)["rest"]
    return dcc.Graph(
    id='myGraph',
    figure={
        'data':[
            {'y': value_vs_rest['Oplossing'], 'x': items, 'type': 'bar', 'name': value, 'orientation': 'h'},
            {'y': value_vs_rest['Oplossing'], 'x': joe, 'type': 'bar', 'name': "rest", 'orientation': 'h'},
        ],
        'layout': {
            'title': "Percentage oplossingen per kind in een uitgevallen klas in Amsterdam"
        }
    }
    )

In [6]:
import plotly.figure_factory as ff

app = dash.Dash()
app.layout = html.Div([
    dcc.Dropdown(
        id='my-dropdown',
            options=[{'label':name, 'value':name} for name in lt[2].unique()],
        value='amsterdam'
    ),
    html.Div(id='my-graph'),
    html.Div(id='my-graph2'),
    dcc.Graph(id='my-table'),
])


@app.callback(
    dash.dependencies.Output('my-table', 'figure'),
    [dash.dependencies.Input('my-dropdown', 'value')])
def update_table(value):
    lt_value=lt[lt[2].str.contains(value)]
    lt_not_value=lt[~lt[2].str.contains(value)]
    value_vs_rest=pd.DataFrame([lt_not_value.groupby(5)[4].mean(),lt_value.groupby(5)[4].mean()] ).T
    value_vs_rest.columns=['rest', value]
    value_vs_rest['Oplossing'] = value_vs_rest.index
    value_vs_rest.sort_values(value, ascending=False)
    new_table_figure = ff.create_table(value_vs_rest)
    return new_table_figure

@app.callback(
    dash.dependencies.Output('my-graph', 'children'),
    [dash.dependencies.Input('my-dropdown', 'value')])
def update_graph(value):
    lt_value=lt[lt[2].str.contains(value)]
    lt_not_value=lt[~lt[2].str.contains(value)]
    value_vs_rest=pd.DataFrame([lt_not_value.groupby(5)[4].sum(),lt_value.groupby(5)[4].sum()] ).T
    value_vs_rest.columns=['rest', value]
    value_vs_rest.sort_values(value, ascending=False)

    return dcc.Graph(
    id='myGraph',
    figure={
        'data':[
            {'y': value_vs_rest.index, 'x': (value_vs_rest/value_vs_rest.sum()).sort_values(value)[value], 'type': 'bar', 'name': value, 'orientation': 'h'},
            {'y': value_vs_rest.index, 'x': (value_vs_rest/value_vs_rest.sum()).sort_values(value)["rest"], 'type': 'bar', 'name': "rest", 'orientation': 'h'},
        ],
        'layout': { 
            'title': "Percentage oplossingen per kind in een uitgevallen klas in " + value + " en in de rest van Nederland",
            'margin' : {'l': 230, 'b': 40, 't': 50, 'r': 5}
        }
    }
    )

@app.callback(
    dash.dependencies.Output('my-graph2', 'children'),
    [dash.dependencies.Input('my-dropdown', 'value')])
def update_graph(value):
    lt_ams=lt[lt[2].str.contains(value)]
    lt_not_ams=lt[~lt[2].str.contains(value)]
    ams_vs_rest=pd.DataFrame([lt_not_ams[5].value_counts(),lt_ams[5].value_counts()] ).T
    ams_vs_rest.columns=['rest', value]
    ams_vs_rest.index.name='Oplossing'
    ams_vs_rest.sort_values(value, ascending=False)

    return dcc.Graph(
    id='myGraph2',
    figure={
        'data':[
            {'y': ams_vs_rest.index, 'x': (ams_vs_rest/ams_vs_rest.sum()).sort_values(value)[value], 'type': 'bar', 'name': value, 'orientation': 'h'},
            {'y': ams_vs_rest.index, 'x': (ams_vs_rest/ams_vs_rest.sum()).sort_values(value)["rest"], 'type': 'bar', 'name': "rest", 'orientation': 'h'},
        ],
        'layout': {
            'title': "Percentage oplossingen per uitgevallen klas in " + value + " en in de rest van Nederland" ,
            'margin' : {'l': 230, 'b': 40, 't': 50, 'r': 5}
        }
    }
    )

In [7]:
show_app(app)

 * Running on http://0.0.0.0:9999/ (Press CTRL+C to quit)
127.0.0.1 - - [11/Jun/2018 12:50:39] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [11/Jun/2018 12:50:39] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [11/Jun/2018 12:50:39] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [11/Jun/2018 12:50:39] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [11/Jun/2018 12:50:39] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [11/Jun/2018 12:50:40] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [11/Jun/2018 16:47:36] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [11/Jun/2018 16:47:36] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [11/Jun/2018 16:47:36] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [11/Jun/2018 16:47:59] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [11/Jun/2018 16:47:59] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [11/Jun/2018 16:48:00] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [11/Jun/2018 16:48:35] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [11/Jun/2018 16:48:35] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [11/Jun/2018 16:48:35] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [11/Jun/2018 16:48:39] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [11/Jun/2018 16:48:39] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [11/Jun/2018 16:48:39] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2018 11:00:49] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2018 11:00:49] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2018 11:00:49] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2018 11:00:58] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2018 11:00:58] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2018 11:00:58] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2018 11:01:25] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2018 11:01:25] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2018 11:01:25] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2018 11:01:30] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2018 11:01:30] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2018 11:01:30] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2018 11:01:34] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2018 11:01:34] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2018 11:01:34] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2018 11:01:37] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2018 11:01:37] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2018 11:01:37] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2018 11:01:40] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2018 11:01:40] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [12/Jun/2018 11:01:40] "POST /_dash-update-component HTTP/1.1" 200 -

In [ ]:
cities = lt[2].unique()
cityLatLong = pd.DataFrame(columns=['lat', 'long'], index=cities)

In [8]:
from geopy.exc import GeocoderTimedOut
geolocator = Nominatim()

def do_geocode(geoString):
    try:
        return geolocator.geocode(geoString)
    except GeocoderTimedOut:
        return do_geocode(geoString)

for city in cities:
    geoString = city + ", Nederland"
    location = do_geocode(geoString)
    if location:
        cityLatLong.loc[city].lat = location.latitude
        cityLatLong.loc[city].long = location.longitude 
    else:
        print(city)

zupthen
rijswijk z-h
kloosterhasr
poorugaal
krinpen aan den ijssel
amsterdam zo

KeyboardInterrupt:

In [ ]:
cityLatLong.to_csv('cityLatLong.csv', sep='\t')

In [ ]:
mapbox_access_token = 'pk.eyJ1IjoicmdpbmduYWdlbCIsImEiOiJjamc1OGN5dDMxNjgzMndwcWJkYzhwMjI4In0.18AdT2y0ZTzoq58R8ws62w'

In [ ]:
import plotly.plotly as py
from plotly.graph_objs import *

data = Data([
    Scattermapbox(
        lat=cityLatLong['lat'],
        lon=cityLatLong['long'],
        mode='markers',
        marker=Marker(
            size=6
        ),
        text=cityLatLong.index,
    )
])
layout = Layout(
    autosize=False,
    hovermode='closest',
    width=1000,
    height=1000,
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=52.2,
            lon=5.4
        ),
        pitch=0,
        zoom=6
    ),
)

fig = dict(data=data, layout=layout)

app = dash.Dash()
app.layout = html.Div([
    dcc.Graph(id='my-map',
             figure = fig)
])

In [ ]:
show_app(app)

 * Running on http://0.0.0.0:9999/ (Press CTRL+C to quit)
127.0.0.1 - - [19/Apr/2018 12:00:14] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [19/Apr/2018 12:00:14] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [19/Apr/2018 12:00:14] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [19/Apr/2018 12:00:19] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [19/Apr/2018 12:00:19] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [19/Apr/2018 12:00:19] "GET /_dash-dependencies HTTP/1.1" 200 -

In [18]:
cityName = "rotterdam"

lt_value=lt[lt[2].str.contains(cityName)]
value_vs_rest=pd.DataFrame([lt_value.groupby(5)[4].mean()] ).T
print(value_vs_rest)
trace = go.Table(
header=dict(values=['Oplossing', cityName],
            line = dict(color='#7D7F80'),
            fill = dict(color='#a1c3d1'),
            align = ['left'] * 5),
cells=dict(values=[value_vs_rest.index,
                    value_vs_rest[4]],
               line = dict(color='#7D7F80'),
               fill = dict(color='#EDFAFF'),
               align = ['left'] * 5))
layout = dict(width=500, height=300)
data = [trace]
fig = dict(data=data, layout=layout)

                                         4
5
anders of combinatie             19.814815
directie of ib-er etc...         19.263889
gepensioneerde voor de klas      27.000000
invaller via detacheringsbureau  22.187500
klas naar huis sturen            25.647059
klas verdelen                    22.391304
onbevoegde voor de klas          21.488889
parttimer komt extra dag terug   21.000000